root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{docx,pdf,png,jpg,jpeg,tif,tiff,zip}]
trim_trailing_whitespace = false
insert_final_newline = false
