* text=auto eol=lf
*.docx binary
*.pdf binary
*.png binary
*.jpg binary
*.jpeg binary
*.tif binary
*.tiff binary
*.zip binary
*.svg text eol=lf
*.qmd text eol=lf
*.md text eol=lf
*.py text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.toml text eol=lf
*.bib text eol=lf
